<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="4" android:versionName="1.3.0"
    package="mao.bytecode" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="17"/>
    <application android:icon="@drawable/android" android:label="@string/app_name">
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" android:name=".FileBrowser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/zip_editor" android:name=".ZipEditor"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/text_editor" android:name=".TextEditor"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/class_editor" android:name=".ClassListActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/class_item" android:name=".ClassItemActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/search_class" android:name=".SearchClassesActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/search_method" android:name=".SearchMethodsActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/field_list" android:name=".FieldListActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/field_item_editor" android:name=".FieldItemEditorActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/field_item_new" android:name=".FieldItemNewActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/method_list" android:name=".MethodListActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/code_editor" android:name=".CodeEditorActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/method_item_editor" android:name=".MethodItemEditorActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/method_item_new" android:name=".MethodItemNewActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/class_info_editor" android:name=".ClassInfoEditorActivity"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/text_preferences" android:name=".TextPreferences"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:label="@string/layout_viewer" android:name="mao.layoutviewer.LayoutViewer"/>
        <activity android:configChanges="orientation|keyboardHidden"
            android:name=".ImageViewer"/>
    </application>
</manifest>
